<section class="about">
  <div class="container about__container">
    <div class="swiper about__slider">
      <div class="swiper-wrapper about__slider-wrapper">
        <div class="swiper-slide about__slide">
          <img
            src="./assets/images/about/1.jpg"
            alt="A person focused on typing on a laptop computer, with hands positioned on the keyboard and a screen illuminated.  "
            class="about__img"
          />
        </div>
        <div class="swiper-slide about__slider-slide">
          <img
            src="./assets/images/about/2.jpg"
            alt="A suited man delivers a presentation to his colleagues, showcasing his expertise and capturing their attention."
            class="about__img"
          />
          <div class="about__slide-content">
            <h4 class="about__slide-title heading-h5">What we believe in</h4>
            <p class="about__slide-descr text-p-medium">
              Over the years at Sans, we’ve put a lot of thought into what it is
              that makes us who we are. The qualities that unite us, that make
              us such an effective team, and...
            </p>
            <button class="about__slide-btn">See Details -></button>
          </div>
        </div>
        <div class="swiper-slide about__slider-slide">
          <img
            src="./assets/images/about/3.jpg"
            alt="A woman working diligently at her desk with a laptop, showcasing a professional and organized environment."
            class="about__img"
          />
        </div>

        <div class="swiper-slide about__slide">
          <img
            src="./assets/images/about/4.jpg"
            alt="A group of young professionals brainstorming together in a modern office space."
            class="about__img"
          />
        </div>

        <div class="swiper-slide about__slider-slide">
          <img
            src="./assets/images/about/5.jpg"
            alt="An individual giving a speech at a conference, engaging the audience with a powerful presentation."
            class="about__img"
          />
          <div class="about__slide-content">
            <h4 class="about__slide-title heading-h5">Inspiring Leadership</h4>
            <p class="about__slide-descr text-p-medium">
              Our mission is to empower and inspire through meaningful communication, strategic planning, and strong leadership...
            </p>
            <button class="about__slide-btn">Learn More -></button>
          </div>
        </div>
        <div class="swiper-slide about__slider-slide">
          <img
            src="./assets/images/about/6.jpg"
            alt="A close-up of a person sketching ideas on a notebook, symbolizing creativity and innovation."
            class="about__img"
          />
        </div>
      </div>
    </div>
  </div>
</section>
