<section class="hero">
  <div class="container hero__container">
    <h2 class="hero__title heading-h1">Activity & Updates</h2>
    <h4 class="hero__subtitle text-p-subtitle">
      Our biggest challenge is making sure we're always designing and building
      products that will help you run your business better.
    </h4>

    <ul class="hero__tab-controls">
      <li class="hero__tab-controls-item">
        <a 
          href="#" data-category="all"
          class="hero__tab-controls-item-link hero__tab-controls-item-link--active"
          >View all</a
        >
      </li>
      <li class="hero__tab-controls-item">
        <a href="#" data-category="design" class="hero__tab-controls-item-link">Design</a>
      </li>
      <li class="hero__tab-controls-item">
        <a href="#" data-category="articles" class="hero__tab-controls-item-link">Articles</a>
      </li>
      <li class="hero__tab-controls-item">
        <a href="#" data-category="product" class="hero__tab-controls-item-link">Product</a>
      </li>
      <li class="hero__tab-controls-item">
        <a href="#" data-category="software" class="hero__tab-controls-item-link"
          >Software Development</a
        >
      </li>
      <li class="hero__tab-controls-item">
        <a href="#" data-category="success" class="hero__tab-controls-item-link"
          >Customer Success</a
        >
      </li>
    </ul>

    <div class="swiper hero__slider">
      <div class="swiper-wrapper hero__slider-wrapper">
        <div class="swiper-slide hero__slide" data-category="design">
          <img
            src="./assets/images/overview-slider/1.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2021-01-30" class="hero__slide-date">Jan 30, 2025</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Practice making User Flow</h4>
          <p class="hero__slide-descr">In this article, we'll cover how to create user flows</p>
        </div>

        <div class="swiper-slide hero__slide" data-category="articles">
          <img
            src="./assets/images/overview-slider/2.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2025-04-21" class="hero__slide-date">April 21, 2025</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Overview of the Design Principles</h4>
          <p class="hero__slide-descr">What are Design Principles?… To understand design principles, we first discuss the principles.</p>
        </div>

        <div class="swiper-slide hero__slide" data-category="product">
          <img
            src="./assets/images/overview-slider/3.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2024-08-02" class="hero__slide-date">August 02, 2024</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Using Grid in website design</h4>
          <p class="hero__slide-descr">Andi: "What's the grid like?" Toni: “Like below…”</p>
        </div>

        <div class="swiper-slide hero__slide" data-category="software">
          <img
            src="./assets/images/overview-slider/1.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2021-01-30" class="hero__slide-date">Jan 30, 2025</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Practice making User Flow</h4>
          <p class="hero__slide-descr">In this article, we'll cover how to create user flows</p>
        </div>

        <div class="swiper-slide hero__slide" data-category="success">
          <img
            src="./assets/images/overview-slider/2.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2025-04-21" class="hero__slide-date">April 21, 2025</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Overview of the Design Principles</h4>
          <p class="hero__slide-descr">What are Design Principles?… To understand design principles, we first discuss the principles.</p>
        </div>

        <div class="swiper-slide hero__slide" data-category="design">
          <img
            src="./assets/images/overview-slider/3.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2024-08-02" class="hero__slide-date">August 02, 2024</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Using Grid in website design</h4>
          <p class="hero__slide-descr">Andi: "What's the grid like?" Toni: “Like below…”</p>
        </div>

        <div class="swiper-slide hero__slide" data-category="article">
          <img
            src="./assets/images/overview-slider/1.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2021-01-30" class="hero__slide-date">Jan 30, 2025</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Practice making User Flow</h4>
          <p class="hero__slide-descr">In this article, we'll cover how to create user flows</p>
        </div>

        <div class="swiper-slide hero__slide" data-category="product">
          <img
            src="./assets/images/overview-slider/2.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2025-04-21" class="hero__slide-date">April 21, 2025</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Overview of the Design Principles</h4>
          <p class="hero__slide-descr">What are Design Principles?… To understand design principles, we first discuss the principles.</p>
        </div>

        <div class="swiper-slide hero__slide" data-category="software">
          <img
            src="./assets/images/overview-slider/3.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2024-08-02" class="hero__slide-date">August 02, 2024</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Using Grid in website design</h4>
          <p class="hero__slide-descr">Andi: "What's the grid like?" Toni: “Like below…”</p>
        </div>

        <div class="swiper-slide hero__slide" data-category="success">
          <img
            src="./assets/images/overview-slider/3.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2024-08-02" class="hero__slide-date">August 02, 2024</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Using Grid in website design</h4>
          <p class="hero__slide-descr">Andi: "What's the grid like?" Toni: “Like below…”</p>
        </div>
        <div class="swiper-slide hero__slide" data-category="design">
          <img
            src="./assets/images/overview-slider/1.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2021-01-30" class="hero__slide-date">Jan 30, 2025</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Practice making User Flow</h4>
          <p class="hero__slide-descr">In this article, we'll cover how to create user flows</p>
        </div>

        <div class="swiper-slide hero__slide" data-category="articles">
          <img
            src="./assets/images/overview-slider/2.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2025-04-21" class="hero__slide-date">April 21, 2025</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Overview of the Design Principles</h4>
          <p class="hero__slide-descr">What are Design Principles?… To understand design principles, we first discuss the principles.</p>
        </div>

        <div class="swiper-slide hero__slide" data-category="product">
          <img
            src="./assets/images/overview-slider/3.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2024-08-02" class="hero__slide-date">August 02, 2024</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Using Grid in website design</h4>
          <p class="hero__slide-descr">Andi: "What's the grid like?" Toni: “Like below…”</p>
        </div>

        <div class="swiper-slide hero__slide" data-category="software">
          <img
            src="./assets/images/overview-slider/1.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2021-01-30" class="hero__slide-date">Jan 30, 2025</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Practice making User Flow</h4>
          <p class="hero__slide-descr">In this article, we'll cover how to create user flows</p>
        </div>

        <div class="swiper-slide hero__slide" data-category="success">
          <img
            src="./assets/images/overview-slider/2.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2025-04-21" class="hero__slide-date">April 21, 2025</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Overview of the Design Principles</h4>
          <p class="hero__slide-descr">What are Design Principles?… To understand design principles, we first discuss the principles.</p>
        </div>

        <div class="swiper-slide hero__slide" data-category="design">
          <img
            src="./assets/images/overview-slider/3.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2024-08-02" class="hero__slide-date">August 02, 2024</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Using Grid in website design</h4>
          <p class="hero__slide-descr">Andi: "What's the grid like?" Toni: “Like below…”</p>
        </div>

        <div class="swiper-slide hero__slide" data-category="article">
          <img
            src="./assets/images/overview-slider/1.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2021-01-30" class="hero__slide-date">Jan 30, 2025</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Practice making User Flow</h4>
          <p class="hero__slide-descr">In this article, we'll cover how to create user flows</p>
        </div>

        <div class="swiper-slide hero__slide" data-category="product">
          <img
            src="./assets/images/overview-slider/2.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2025-04-21" class="hero__slide-date">April 21, 2025</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Overview of the Design Principles</h4>
          <p class="hero__slide-descr">What are Design Principles?… To understand design principles, we first discuss the principles.</p>
        </div>

        <div class="swiper-slide hero__slide" data-category="software">
          <img
            src="./assets/images/overview-slider/3.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2024-08-02" class="hero__slide-date">August 02, 2024</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Using Grid in website design</h4>
          <p class="hero__slide-descr">Andi: "What's the grid like?" Toni: “Like below…”</p>
        </div>

        <div class="swiper-slide hero__slide" data-category="success">
          <img
            src="./assets/images/overview-slider/3.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2024-08-02" class="hero__slide-date">August 02, 2024</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Using Grid in website design</h4>
          <p class="hero__slide-descr">Andi: "What's the grid like?" Toni: “Like below…”</p>
        </div>
        <div class="swiper-slide hero__slide" data-category="design">
          <img
            src="./assets/images/overview-slider/1.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2021-01-30" class="hero__slide-date">Jan 30, 2025</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Practice making User Flow</h4>
          <p class="hero__slide-descr">In this article, we'll cover how to create user flows</p>
        </div>

        <div class="swiper-slide hero__slide" data-category="articles">
          <img
            src="./assets/images/overview-slider/2.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2025-04-21" class="hero__slide-date">April 21, 2025</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Overview of the Design Principles</h4>
          <p class="hero__slide-descr">What are Design Principles?… To understand design principles, we first discuss the principles.</p>
        </div>

        <div class="swiper-slide hero__slide" data-category="product">
          <img
            src="./assets/images/overview-slider/3.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2024-08-02" class="hero__slide-date">August 02, 2024</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Using Grid in website design</h4>
          <p class="hero__slide-descr">Andi: "What's the grid like?" Toni: “Like below…”</p>
        </div>

        <div class="swiper-slide hero__slide" data-category="software">
          <img
            src="./assets/images/overview-slider/1.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2021-01-30" class="hero__slide-date">Jan 30, 2025</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Practice making User Flow</h4>
          <p class="hero__slide-descr">In this article, we'll cover how to create user flows</p>
        </div>

        <div class="swiper-slide hero__slide" data-category="success">
          <img
            src="./assets/images/overview-slider/2.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2025-04-21" class="hero__slide-date">April 21, 2025</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Overview of the Design Principles</h4>
          <p class="hero__slide-descr">What are Design Principles?… To understand design principles, we first discuss the principles.</p>
        </div>

        <div class="swiper-slide hero__slide" data-category="design">
          <img
            src="./assets/images/overview-slider/3.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2024-08-02" class="hero__slide-date">August 02, 2024</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Using Grid in website design</h4>
          <p class="hero__slide-descr">Andi: "What's the grid like?" Toni: “Like below…”</p>
        </div>

        <div class="swiper-slide hero__slide" data-category="article">
          <img
            src="./assets/images/overview-slider/1.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2021-01-30" class="hero__slide-date">Jan 30, 2025</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Practice making User Flow</h4>
          <p class="hero__slide-descr">In this article, we'll cover how to create user flows</p>
        </div>

        <div class="swiper-slide hero__slide" data-category="product">
          <img
            src="./assets/images/overview-slider/2.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2025-04-21" class="hero__slide-date">April 21, 2025</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Overview of the Design Principles</h4>
          <p class="hero__slide-descr">What are Design Principles?… To understand design principles, we first discuss the principles.</p>
        </div>

        <div class="swiper-slide hero__slide" data-category="software">
          <img
            src="./assets/images/overview-slider/3.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2024-08-02" class="hero__slide-date">August 02, 2024</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Using Grid in website design</h4>
          <p class="hero__slide-descr">Andi: "What's the grid like?" Toni: “Like below…”</p>
        </div>

        <div class="swiper-slide hero__slide" data-category="success">
          <img
            src="./assets/images/overview-slider/3.jpg"
            alt=""
            class="hero__slide-img"
          />
          <div class="hero__slide-date text-p-small">Published in Insight 
            <time datetime="2024-08-02" class="hero__slide-date">August 02, 2024</time>
          </div>
          <h4 class="hero__slide-title heading-h5">Using Grid in website design</h4>
          <p class="hero__slide-descr">Andi: "What's the grid like?" Toni: “Like below…”</p>
        </div>
      </div>
    </div>
  </div>
</section>
