<section class="partners">
  <div class="container partners__container">
    <h2 class="partners__title text-p-medium">
      <span class="partners__title-num heading-h2">890+</span>
      some big companies that we work with, and trust us very much
    </h2>
    <ul class="partners__list">
      <li class="partners__item">
        <img src="./assets/images/icons/partners/airnb-logo-icon.svg" alt="AIRNB logo" loading="lazy">
      </li>
      <li class="partners__item">
        <img src="./assets/images/icons/partners/amazon-logo-icon.svg" alt="Amazon logo" loading="lazy">
      </li>
      <li class="partners__item">
        <img src="./assets/images/icons/partners/fedex-logo-icon.svg" alt="FedEx logo" loading="lazy">
      </li>
      <li class="partners__item">
        <img src="./assets/images/icons/partners/microsoft-logo-icon.svg" alt="Microsoft logo" loading="lazy">
      </li>
      <li class="partners__item">
        <img src="./assets/images/icons/partners/google-logo-icon.svg" alt="Google logo" loading="lazy">
      </li>
      <li class="partners__item">
        <img src="./assets/images/icons/partners/ola-logo-icon.svg" alt="OLA logo" loading="lazy">
      </li>
      <li class="partners__item">
        <img src="./assets/images/icons/partners/walmart-logo-icon.svg" alt="Walmart logo" loading="lazy">
      </li>
      <li class="partners__item">
        <img src="./assets/images/icons/partners/oyo-logo-icon.svg" alt="OYO logo" loading="lazy">
      </li>
    </ul>
  </div>
</section>
