.strength {
  border-bottom: 1px solid #ededed;
  padding: 60px 0 160px;

  @include mobile {
    padding: 0 0 70px;
  }
    
  &__item {
    margin-bottom: auto;
    min-height: 150px;

    @include tablet {
      @include flex-all-center;
      min-width: 325px;
    }

    @include mobile {
      min-width: 240px;
    }

    &:not(:last-child) {
      @include flex-align-center;
      gap: 72px;
      margin-right: 72px;

      @include tablet {
        margin-right: 0;
      }

      &::after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 99px;
        height: 100%;
        background-color: #ced1d8;

        @include tablet {
          display: none;
        }
      }
    }

    &-text {
      font-weight: 500;
      line-height: 178%;
      color: #7e8492;
    }

    &-num {
      display: block;
      margin-bottom: 8px;
      font-weight: 600;
      line-height: 120%;
      color: var(--neutral-color-100);

      @include mobile {
        font-size: 50px;
      }
    }
  }

  &__list,
  &__img {
    margin-bottom: 80px;
  }

  &__list {
    @include flex-align-center;

    @include tablet {
      gap: 62px;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }

    @include small-tablet {
      gap: 20px;
    }

    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__img {
    @include tablet {
      margin-bottom: 60px;
    }

    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__info {
    @include flex-justify-between;
    gap: 15px;

    @include tablet {
      gap: 25px;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__title {
    max-width: 722px;
    font-weight: 600;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include tablet {
      max-width: 820px;
    }
  }

  &__descr {
    max-width: 413px;
    font-weight: 500;
    line-height: 178%;
    color: #7e8492;

    @include tablet {
      max-width: 650px;
    }
  }
}
