.hero {
  padding: 105px 0 135px;

  &__btn {
    &-icon {
      transition:
        transform 1.5s,
        opacity var(--transition);

      &:hover {
        path,
        circle {
          transform: rotate(360deg);
        }
      }

      path,
      circle {
        transition: all 1s;
      }

      rect,
      path,
      circle {
        fill: var(--get-in-touch-color);
      }
    }
  }
}
