<section class="hero hero-decors">
  <div class="container hero__container">
    <div class="hero__left">
      <h2 class="hero__title">Digitally forward creative</h2>
      <p class="hero__subtitle text-p-subtitle">
        When it comes to interactive marketing, we've got you covered. Be where
        the world is going
      </p>
      <form class="hero__form">
        <input
          type="text"
          class="hero__input"
          placeholder="Enter your email"
          required
        />
        <a href="/coca/contact.html" class="hero__btn button-form">Try for free</a>
      </form>
    </div>
    <div class="hero__right">
      <div class="hero__sales">
        <h3 class="hero__sales-title">Sales Report</h3>
        <img
          width="366"
          height="260"
          src="./assets/images/icons/sales-report-icon.svg"
          alt="Sales report graphic"
          class="hero__sales-img"
        />
      </div>
      <div class="hero__customer">
        <h3 class="hero__customer-title">Customer Growth</h3>
        <img
          width="177"
          height="149"
          src="./assets/images/icons/customer-icon.svg"
          alt="Customer growth graphic"
          class="hero__customer-img"
        />
      </div>
      <table class="hero__stats">
        <thead class="hero__stats-head">
          <tr class="hero__stats-head-row">
            <th class="hero__stats-head-th">Sales</th>
            <th class="hero__stats-head-th">Marketing</th>
          </tr>
        </thead>
        <tbody class="hero__stats-body">
          <tr class="hero__stats-body-row">
            <td class="hero__stats-body-td">$31,092</td>
            <td class="hero__stats-body-td">$29,128</td>
          </tr>
          <tr class="hero__stats-body-row">
            <td class="hero__stats-body-td">
              <span
                class="hero__stats-body-td-num hero__stats-body-td-num--green"
                >4.2%</span
              >
              <span class="hero__stats-body-td-text">from last year</span>
            </td>
            <td class="hero__stats-body-td">
              <span class="hero__stats-body-td-num hero__stats-body-td-num--red"
                >1.2%</span
              >
              <span class="hero__stats-body-td-text">from last year</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
