<section class="insight">
  <div class="container insight__container">
    <h2 class="insight__title heading-h2">Trending news from Coca</h2>
    <p class="insight__descr text-p-medium">
      we have some new Service to pamper you
    </p>

    <div class="swiper insight__slider">
      <div class="swiper-wrapper insight__slider-wrapper">
        <div class="swiper-slide insight__article">
          <img src="./assets/images/insight-slider/1.jpg" alt="Man who writing something in notebook and iMac" width="582" height="332" loading="lazy" class="insight__article-img">
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight <time datetime="2025-01-30">Jan 30, 2025</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>  
          <h3 class="insight__article-title heading-h5">What makes an authentic employee profile, and why does it matter ?</h3>
        </div>
        <div class="swiper-slide insight__article">
          <img src="./assets/images/insight-slider/2.jpg" alt="Man who typing something on laptop" width="582" height="332" loading="lazy" class="insight__article-img">
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight <time datetime="2024-12-21">Dec 21, 2024</time>
            </div>
            <address class="insight__article-author">by : Emily Carter</address>
          </div>  
          <h3 class="insight__article-title heading-h5">How to build a Kaylen relationship with a good company</h3>
        </div>
        <div class="swiper-slide insight__article">
          <img src="./assets/images/insight-slider/3.jpg" alt="The team of IT workers which developing something" width="582" height="332" loading="lazy" class="insight__article-img">
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight <time datetime="2025-02-24">Feb 24, 2025</time>
            </div>
            <address class="insight__article-author">by : Michael Reed</address>
          </div>  
          <h3 class="insight__article-title heading-h5">Innovative Minds at Work: Building the Future of Tech Together</h3>
        </div>
        <div class="swiper-slide insight__article">
          <img src="./assets/images/insight-slider/4.jpg" alt="Macbook pro 2017, iMac, tablet, Apple magicmouse, Apple magickeyboard" width="582" height="332" loading="lazy" class="insight__article-img">
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight <time datetime="2025-02-05">Feb 5, 2025</time>
            </div>
            <address class="insight__article-author">by : Daniel Hayes</address>
          </div>  
          <h3 class="insight__article-title heading-h5">Code, Collaborate, Create: The Power of Teamwork in Tech</h3>
        </div>
      </div>
    </div>
  </div>
</section>
